---
import Common from '../../layouts/Common.astro'
---
<Common>
	<section class="flex flex-col items-center">
		<div class="w-10/12 md:w-8/12 py-8">
			<h3 class="text-4xl font-bold text-center">Project</h3>
			<hr/>
		</div>
	</section>
</Common>