---
import Common from '../../../layouts/Common.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
import { getCollection } from 'astro:content';
import BlogCard from '../../../components/BlogCard.svelte'
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Common>
	<section class="flex justify-center">
		<div class="w-8/12 grid grid-cols-2 gap-6 py-6">
			{
				posts.map(
					(post)=><BlogCard title={post.data.title} />
				)
			}
		</div>
	</section>
</Common>